.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px); /* 🔹 desfoque de fundo */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: opacity 0.3s ease;
}

.popup {
  background: #222;
  color: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  width: 340px;
  animation: fadeInUp 0.3s ease forwards;
  background-image: url('../assets/fundo_popup.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.popup h2 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.popup p {
  font-size: 0.95rem;
  color: #ccc;
  margin-bottom: 25px;
}

.popup button {
  background-color: #0a3d91;
  color: white;
  border: none;
  padding: 5px 55px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.1s ease;
}

.popup button:hover {
  background-color: #002b6d;
  transform: scale(1.05);
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
